<div>
  <h2 id="page-heading" data-cy="DemandeHeading">
    <span jhiTranslate="smoConnectFrontendApp.demande.home.title">Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="smoConnectFrontendApp.demande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande"
        [routerLink]="['/demande/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="smoConnectFrontendApp.demande.home.createLabel">Créer un nouveau Demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (demandes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="smoConnectFrontendApp.demande.home.notFound">Aucun Demande trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.demande.type">Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statut">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.demande.statut">Statut</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCreation">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.demande.dateCreation">Date Creation</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCloture">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.demande.dateCloture">Date Cloture</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="typeSla">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.demande.typeSla">Type Sla</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (demande of demandes(); track trackId(demande)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/demande', demande.id, 'view']">{{ demande.id }}</a>
              </td>
              <td [jhiTranslate]="'smoConnectFrontendApp.TypeDemande.' + (demande.type ?? 'null')">
                {{
                  { null: '', CREATION: 'CREATION', MODIFICATION: 'MODIFICATION', REACTIVATION: 'REACTIVATION', RESET: 'RESET' }[
                    demande.type ?? 'null'
                  ]
                }}
              </td>
              <td [jhiTranslate]="'smoConnectFrontendApp.EtatDemande.' + (demande.statut ?? 'null')">
                {{
                  { null: '', EN_ATTENTE: 'EN_ATTENTE', APPROUVEE: 'APPROUVEE', REJETEE: 'REJETEE', CLOTUREE: 'CLOTUREE' }[
                    demande.statut ?? 'null'
                  ]
                }}
              </td>
              <td>{{ demande.dateCreation | formatMediumDatetime }}</td>
              <td>{{ demande.dateCloture | formatMediumDatetime }}</td>
              <td>{{ demande.typeSla }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/demande', demande.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/demande', demande.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(demande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (demandes().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
