<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reset-password-heading"
        data-cy="ResetPasswordCreateUpdateHeading"
        jhiTranslate="smoConnectFrontendApp.resetPassword.home.createOrEditLabel"
      >
        Créer ou éditer un Reset Password
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let applicationRef = editForm.get('application')!;
        <div class="mb-3">
          <label class="form-label" for="field_application" jhiTranslate="smoConnectFrontendApp.resetPassword.application"
            >Application</label
          >
          <input
            type="text"
            class="form-control"
            name="application"
            id="field_application"
            data-cy="application"
            formControlName="application"
          />
          @if (applicationRef.invalid && (applicationRef.dirty || applicationRef.touched)) {
            <div>
              @if (editForm.get('application')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('application')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire au maximum 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let loginWindowsRef = editForm.get('loginWindows')!;
        <div class="mb-3">
          <label class="form-label" for="field_loginWindows" jhiTranslate="smoConnectFrontendApp.resetPassword.loginWindows"
            >Login Windows</label
          >
          <input
            type="text"
            class="form-control"
            name="loginWindows"
            id="field_loginWindows"
            data-cy="loginWindows"
            formControlName="loginWindows"
          />
          @if (loginWindowsRef.invalid && (loginWindowsRef.dirty || loginWindowsRef.touched)) {
            <div>
              @if (editForm.get('loginWindows')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('loginWindows')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >Ce champ doit faire au maximum 200 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let passwordEncryptedRef = editForm.get('passwordEncrypted')!;
        <div class="mb-3">
          <label class="form-label" for="field_passwordEncrypted" jhiTranslate="smoConnectFrontendApp.resetPassword.passwordEncrypted"
            >Password Encrypted</label
          >
          <textarea
            class="form-control"
            name="passwordEncrypted"
            id="field_passwordEncrypted"
            data-cy="passwordEncrypted"
            formControlName="passwordEncrypted"
          ></textarea>
          @if (passwordEncryptedRef.invalid && (passwordEncryptedRef.dirty || passwordEncryptedRef.touched)) {
            <div>
              @if (editForm.get('passwordEncrypted')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let demandeTidjiIdRef = editForm.get('demandeTidjiId')!;
        <div class="mb-3">
          <label class="form-label" for="field_demandeTidjiId" jhiTranslate="smoConnectFrontendApp.resetPassword.demandeTidjiId"
            >Demande Tidji Id</label
          >
          <input
            type="text"
            class="form-control"
            name="demandeTidjiId"
            id="field_demandeTidjiId"
            data-cy="demandeTidjiId"
            formControlName="demandeTidjiId"
          />
          @if (demandeTidjiIdRef.invalid && (demandeTidjiIdRef.dirty || demandeTidjiIdRef.touched)) {
            <div>
              @if (editForm.get('demandeTidjiId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire au maximum 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateEnvoi" jhiTranslate="smoConnectFrontendApp.resetPassword.dateEnvoi">Date Envoi</label>
          <div class="d-flex">
            <input
              id="field_dateEnvoi"
              data-cy="dateEnvoi"
              type="datetime-local"
              class="form-control"
              name="dateEnvoi"
              formControlName="dateEnvoi"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateCloture" jhiTranslate="smoConnectFrontendApp.resetPassword.dateCloture"
            >Date Cloture</label
          >
          <div class="d-flex">
            <input
              id="field_dateCloture"
              data-cy="dateCloture"
              type="datetime-local"
              class="form-control"
              name="dateCloture"
              formControlName="dateCloture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let etatRef = editForm.get('etat')!;
        <div class="mb-3">
          <label class="form-label" for="field_etat" jhiTranslate="smoConnectFrontendApp.resetPassword.etat">Etat</label>
          <input type="text" class="form-control" name="etat" id="field_etat" data-cy="etat" formControlName="etat" />
          @if (etatRef.invalid && (etatRef.dirty || etatRef.touched)) {
            <div>
              @if (editForm.get('etat')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire au maximum 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_effectif" jhiTranslate="smoConnectFrontendApp.resetPassword.effectif">Effectif</label>
          <select
            class="form-control"
            id="field_effectif"
            data-cy="effectif"
            name="effectif"
            formControlName="effectif"
            [compareWith]="compareEffectif"
          >
            @if (editForm.get(['effectif'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (effectifOption of effectifsSharedCollection(); track $index) {
              <option [ngValue]="effectifOption">{{ effectifOption.nom }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['effectif'])!.invalid && (editForm.get(['effectif'])!.dirty || editForm.get(['effectif'])!.touched)) {
          <div>
            @if (editForm.get(['effectif'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
