<div>
  <h2 id="page-heading" data-cy="ResetPasswordHeading">
    <span jhiTranslate="smoConnectFrontendApp.resetPassword.home.title">ResetPasswords</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="smoConnectFrontendApp.resetPassword.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reset-password"
        [routerLink]="['/reset-password/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="smoConnectFrontendApp.resetPassword.home.createLabel">Créer un nouveau Reset Password</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (resetPasswords().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="smoConnectFrontendApp.resetPassword.home.notFound">Aucun Reset Password trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="application">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.application">Application</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="loginWindows">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.loginWindows">Login Windows</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="passwordEncrypted">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.passwordEncrypted">Password Encrypted</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="demandeTidjiId">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.demandeTidjiId">Demande Tidji Id</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateEnvoi">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.dateEnvoi">Date Envoi</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCloture">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.dateCloture">Date Cloture</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="etat">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.etat">Etat</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="effectif.nom">
              <div class="d-flex">
                <span jhiTranslate="smoConnectFrontendApp.resetPassword.effectif">Effectif</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (resetPassword of resetPasswords(); track trackId(resetPassword)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reset-password', resetPassword.id, 'view']">{{ resetPassword.id }}</a>
              </td>
              <td>{{ resetPassword.application }}</td>
              <td>{{ resetPassword.loginWindows }}</td>
              <td>{{ resetPassword.passwordEncrypted }}</td>
              <td>{{ resetPassword.demandeTidjiId }}</td>
              <td>{{ resetPassword.dateEnvoi | formatMediumDatetime }}</td>
              <td>{{ resetPassword.dateCloture | formatMediumDatetime }}</td>
              <td>{{ resetPassword.etat }}</td>
              <td>
                @if (resetPassword.effectif) {
                  <div>
                    <a [routerLink]="['/effectif', resetPassword.effectif.id, 'view']">{{ resetPassword.effectif.nom }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/reset-password', resetPassword.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/reset-password', resetPassword.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(resetPassword)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (resetPasswords().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
