<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (resetPassword(); as resetPasswordRef) {
      <div>
        <h2 data-cy="resetPasswordDetailsHeading">
          <span jhiTranslate="smoConnectFrontendApp.resetPassword.detail.title">Reset Password</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ resetPasswordRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.application">Application</span></dt>
          <dd>
            <span>{{ resetPasswordRef.application }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.loginWindows">Login Windows</span></dt>
          <dd>
            <span>{{ resetPasswordRef.loginWindows }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.passwordEncrypted">Password Encrypted</span></dt>
          <dd>
            <span>{{ resetPasswordRef.passwordEncrypted }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.demandeTidjiId">Demande Tidji Id</span></dt>
          <dd>
            <span>{{ resetPasswordRef.demandeTidjiId }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.dateEnvoi">Date Envoi</span></dt>
          <dd>
            <span>{{ resetPasswordRef.dateEnvoi | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.dateCloture">Date Cloture</span></dt>
          <dd>
            <span>{{ resetPasswordRef.dateCloture | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.etat">Etat</span></dt>
          <dd>
            <span>{{ resetPasswordRef.etat }}</span>
          </dd>
          <dt><span jhiTranslate="smoConnectFrontendApp.resetPassword.effectif">Effectif</span></dt>
          <dd>
            @if (resetPassword()!.effectif) {
              <div>
                <a [routerLink]="['/effectif', resetPassword()!.effectif?.id, 'view']">{{ resetPasswordRef.effectif?.nom }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/reset-password', resetPasswordRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
